<div class="page-header">
    <h1>$hero.getName()</h1>
</div>

<div class="row">
    <div class="col-md-4 well">
        <h3>Know your hero:</h3>
        <ul>
            <h4>Their power is: $hero.getPower()</h4>
            <h4>Their age: $hero.getAge()</h4>
            <h4>How to defeate them: $hero.getWeakness(). Keep it a secret though ;)</h4>
        </ul>
    </div>
</div>