<div class="page-header">
    <h1>$hero.getName()</h1>
</div>

<h4>Know your hero:</h4>
<ul>
    <p>Their power is: $hero.getPower()</p>
    <p>Their age: $hero.getAge()</p>
    <p>How to defeate them: $hero.getWeakness(). Keep it a secret though ;)</p>
</ul>