<h1>Our Mighty Heroes!</h1>

#if ($heros)
    <ul>
        #foreach ($hero in $heros)
            <h4><a href="/heros/$hero.getId()">$hero.getName()</a></h4>
        #end
    </ul>
#else
    <p>No heros!</p>
#end