<h1>Go Forth Mighty Worrior!</h1>

<h2>Welcome to $squad.getName()</h2>
<div class="row">
    <div class="col-md-4 well">
        <p>Get ready to work for a cause, and to vanquish evil!</p>
        <p>Your first step begins <a href="/squads">here</a>.</p>
    </div>
</div>